/* import font */
@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');

/* set font for body */
body{
    font-family: 'Poppins', sans-serif;
    background-color:#F4F4F4;
}
/* reset settings */
*{
    margin: 0;
    padding: 0;
}

/*Dominique: Top Bar Début*/
.navbar {
  position: fixed;
  z-index: 4;
  width: 100%;
  height: 80px;
  line-height: 80px;
  padding-right: 50px;
  padding-right: 50px;
  background-color: rgb(216, 169, 169)
}

.topbar .logo {
  float: left;
  left: 0px;
  margin-right: 200px;
  margin-left: 0px;
}

.navbar a {
  padding: 0 20px;
}


.topbar nav {
  float: left; 
  right:20px;
}

.topbar .navbar {
  float : left;
}

.navbar{
  display: flex;
} 

/* Dominique : Fin NavBar*/



/*Section article card -- Paul*/

.banniere{
    background: url(Images/banniere-bc.jpg) no-repeat center fixed;
    background-attachment: fixed;
    background-size: cover;
    height: 95vh;
}
.container-logo{
    background: url(Images/logo.png) no-repeat center fixed;
    background-attachment: fixed;
    height: 95vh;
}

#all-card {
    display:flex;
    flex-direction: column;
    padding-top: 3rem;
    padding-bottom: 3rem;
}
.main-card{
    display:flex;
    flex-direction: row;
    justify-content: space-around;

}
.card{
    position: relative;
    height: 350px;
    margin-bottom: 30px;
    text-align: center;
    color : #FFF;
}
article img{
    height: 100%;
}
.card-title{
    margin: 0;
    transform: translateY(-215px);
    opacity: 1;
    transition: all 1s;
    font-size: 3rem;
}
.plat{
    margin:30px;
}
.card-visibility{
    transform: translateY(-400px);
    visibility: hidden;
    opacity: 0;
    font-weight: bold;
    transition: all 1s;
    font-size: 1.5rem;
}
.card:hover .card-visibility{
    visibility: visible;
    opacity: 1;
}
.card:hover .card-title{
    visibility: hidden;
    opacity:0;
}

#livraison{
    background-color: #fad390;
}
/* END -- Section article card -- Paul*/

/* formulaire réservation */

#booking{
    background-color: #fad390;
}

hr{
    border: #626662 1px solid;
    width: 80%;
    margin: 2rem;
}

h2{
    margin: 1rem;
    text-align: center;
}

#booking, #livraison{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    padding-top: 3rem;
    padding-bottom: 3rem;
}

form{
    display: flex;
    flex-direction: column;
    width: 60%;
}

input, textarea, select, label{
   margin: 0.7rem;
}

input{
   height: 20px;
}

select{
    height: 25px;
}

textarea{
    height: 100px;
}

.form1{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

#booking_button{
    width: 15%;
    height: 50px;
    border-radius: 10px;
    background-color: #6e6e6e;
    color: white;
    font-weight: bold;
    align-self: flex-end;
    margin-top: 1rem;
    margin-right: 1rem;
}

#booking_button:hover{
    background-color: #58B19F;
    cursor: pointer;
}

/* Livraison */

#livraison{
    margin-bottom: 2rem;
    background-color: #F4F4F4;
}

#link_livraison{
    display: flex;
    flex-direction: column;
}

#link{
    position: relative;
    top: 12rem;
    padding: 0.5rem;
    background-color: #fad390;
    color: black;
    width: 60%;
    border-radius: 10px;
    align-self: center;
    text-decoration: none;
    font-weight: bold;
    z-index: 1;
    text-align: center;
}

#link:visited{
    color: black;
}

#link:hover{
    background-color: #58B19F;
}

#link_livraison img{
    height: 250px;
    border-radius: 10px;
    opacity: 0.8;
}

/* Footer */
footer{
    display: flex;
    background-color: #58B19F;
    justify-content: space-around;
    height: 350px;
}

.div_img_footer{
    display: flex;
}

#logo_footer{
    width: 250px;
    margin: auto;
}

#map_footer{
    width: 300px;
    margin: auto;
}

.footer_div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.footer_div h3, .footer_div p, .footer_div a{
    padding: 0.5rem;
}

.footer_div a{
    text-decoration: none;
    font-weight: bold;
}

.footer_div a:link{
    color: black;
}

.footer_div a:visited{
    color: black;
}

.footer_div a:hover{
    color: white;
}

#social{
    display: flex;
    justify-content: space-around;
    align-self: center;
}

.social_logo{
    width: 100px;
    padding: 1rem;
}

/* Section d'Adrien - Page 2 */


.section-p2 {
    background-color: #fad390;
    
}
.p2 {
    
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: justify;
    margin: auto;    
}
.adress-page2 {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#numero-page2, #rue-page2, #code-page2, #ville-page2 {
    width: 40%;
}

.nb-page2 {
    width: 20%;
}
.nbmidi-page2 {
    width: 15%;
}
#entree-page2, #plat-page2, #dessert-page2, #boisson-page2 {
    width: 50%;
}
.adress-page2, .menu-page2, .livraison-page2 {
    margin-top: 40px;
}
.choix-page2 {
    margin-top: 25px;
}
.button-page2 {
    margin: 50px;
}   
.p2 input, select {
    margin: 0;
}
#entree-page2, #plat-page2, #dessert-page2, #boisson-page2, #livraison-page2 {
    height: 30px;
}



/* Fin de la section d'Adrien - Page 2 */

@media (max-width: 1050px){
    /*Section Paul / Articles - Card*/
    .card{
        height: 300px;
    }
    .card-title{
        transform: translateY(-190px);
        font-size:2.5rem;
    }
    .card-visibility{
        transform: translateY(-370px);
        font-size: 1.4rem;
    }
}

@media (max-width: 961px){
    
    /* Section article card -- Paul */
    .banniere{
        display: none;
    }
    .container-logo{
        display: none;
    }

    #all-card{
        margin: 0 auto;
    }
    .main-card{
        flex-direction: column;
    }
    #all-card article{
        margin:0 auto;
    }

    .card{
        height: 210px;
    }
    .card-title{
        transform: translateY(-130px);
        font-size: 1rem;
    }
    .card-visibility{
        transform: translateY(-240px);
        font-size: 1rem;
    }
    
    /* END -- Section article card -- Paul*/
    
    /* Formulaire */

    form{
        width: 75%;
    }

    span{
        display: none;
    }

    .form1{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
    }

    .form_item{
        display: flex;
        flex-direction: column;
    }

    #booking_button{
        width: 100px;
    }

    h2{
        font-size: 1.2rem;
    }

    /* Livraison */

    #link_livraison img{
        height: 200px;
        justify-self: center;
    }

    #link{
        text-align: center;
    }

    /* Footer */
    footer{
        flex-direction: column;
        height: auto;
    }

    .footer_div, .div_img_footer{
        margin-bottom: 2rem;
    }

}


@media screen and (min-width:961px) {
    .adress-page2 {
        display: block;
        align-items: center;
    }
    #numero-page2  {
        width: 10%;
    }
    #rue-page2 {
        width: 24%;
    }
    #code-page2 {
        width: 14%;
    } 
    #ville-page2 {
        width: 20%;
    }
    .nb-page2 {
        width: 8%;
    }
    .nbmidi-page2 {
        width: 10%;
    }
    #entree-page2, #plat-page2, #dessert-page2, #boisson-page2 {
        width: 30%;
    }
    .page-2 {
        background: url(Images/img-page2.jpg) no-repeat;
        background-attachment: fixed;
        background-size: cover;
        height: 100vh;
    }
    .p2 {
        background : url(Images/order.jpg);
        background-repeat: no-repeat;
        background-size: 250%;
        color: white;
        box-shadow: black 5px 2px 10px;
        border-radius: 10px;
    }
    .section-p2 { 
        background-color: transparent;
        width: 80%;
        margin: auto;
    }
}





