/* import font */
@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');

/* set font for body */
body{
    font-family: 'Poppins', sans-serif;
    background-color:#fad390;
}
/* reset settings */
*{
    margin: 0;
    padding: 0;
}

/*Dominique: Top Bar Début*/
.navbar {
  position: fixed;
  top:0px;
  z-index: 4;
  width: 100%; 
  background-color: rgba(255, 255, 255, 0.9);
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.navbar a { 
  color :#58B19F; 
  font-size: 1.2rem; 
}

#texte{
  color: black;
}
#texte:hover{
    color:#fad390;
}

.navbar a:link{
  text-decoration:none;
}

.navbar a:hover{
  text-decoration:none;
  color: #fad390;
}


/* Dominique : Fin NavBar*/



/*Section article card -- Paul*/

.banniere{
    background: url(Images/banniere-bc.jpg) no-repeat center fixed;
    background-attachment: fixed;
    background-size: cover;
    height: 95vh;
}
.container-logo{
    background: url(Images/logo.png) no-repeat center fixed;
    background-attachment: fixed;
    height: 95vh;
}

#all-card {
    display:flex;
    flex-direction: column;
    padding-top: 3rem;
    padding-bottom: 3rem;
}
.main-card{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
}
.card{
    position: relative;
    height: 350px;
    margin-bottom: 30px;
    text-align: center;
    overflow:hidden;
}
article img{
    height: 100%;
}
.card-title{
    color : #FFF;
    margin: 0;
    transform: translateY(-215px);
    opacity: 1;
    transition: all 1s;
    font-size: 3rem;
}

.prix-menu-midi{
    font-size:2rem;
}
.card-visibility{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    transform: translateY(-429px);
    font-weight: bold;
    font-size: 1.5rem;
    z-index:2;
    height:100%;
    width : 95%;
    margin-left: auto;
    transition: all 1s;
    color: #58B19F;
    margin-right: -90%;
}

.opacity{
    height: 100%;
    width:0%;
    margin-left: auto;
    transform: translateY(-779px);
    background-color: #fad390;
    transition: width 1s;
}
.card:hover .card-visibility{
    margin-right: 0% !important;
}
.card:hover .card-title{
    visibility: hidden;
    opacity:0;
}
.card:hover .opacity{
    width: 95%;

}

#livraison{
    background-color: #fad390;
}
/* END -- Section article card -- Paul*/

/* formulaire réservation */

#booking{
    background-color: #fad390;
}

hr{
    border: #626662 1px solid;
    width: 80%;
    margin: 2rem;
}

h2{
    margin: 1rem;
    text-align: center;
}

#booking, #livraison{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    padding-top: 3rem;
    padding-bottom: 3rem;
}

form{
    display: flex;
    flex-direction: column;
    width: 60%;
}

input, textarea, select, label{
   margin: 0.7rem;
}

input{
   height: 20px;
}

select{
    height: 25px;
}

textarea{
    height: 100px;
}

.form1{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

#booking_button{
    width: 15%;
    height: 50px;
    border-radius: 10px;
    background-color: #6e6e6e;
    color: white;
    font-weight: bold;
    align-self: flex-end;
    margin-top: 1rem;
    margin-right: 1rem;
}

#booking_button:hover{
    background-color: #58B19F;
    cursor: pointer;
}

/* Livraison */

#livraison{
    margin-bottom: 2rem;
    background-color: #F4F4F4;
}

#link_livraison{
    display: flex;
    flex-direction: column;
}

#link{
    position: relative;
    top: 12rem;
    padding: 0.5rem;
    background-color: #fad390;
    color: black;
    width: 60%;
    border-radius: 10px;
    align-self: center;
    text-decoration: none;
    font-weight: bold;
    z-index: 1;
    text-align: center;
}

#link:visited{
    color: black;
}

#link:hover{
    background-color: #58B19F;
}

#link_livraison img{
    height: 250px;
    border-radius: 10px;
    opacity: 0.8;
}

/* Footer */
footer{
    display: flex;
    background-color: #58B19F;
    justify-content: space-around;
    height: 350px;
}

.div_img_footer{
    display: flex;
}

#logo_footer{
    width: 250px;
    margin: auto;
}

#map_footer{
    width: 300px;
    margin: auto;
}

.footer_div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.footer_div h3, .footer_div p, .footer_div a{
    padding: 0.5rem;
}

.footer_div a{
    text-decoration: none;
    font-weight: bold;
}

.footer_div a:link{
    color: black;
}

.footer_div a:visited{
    color: black;
}

.footer_div a:hover{
    color:#fad390;
}

#social{
    display: flex;
    justify-content: space-around;
    align-self: center;
}

.social_logo{
    width: 100px;
    padding: 1rem;
}

/* Section d'Adrien - Page 2 */


.section-p2 {
    background-color: #fad390;
    
}
.p2 {  
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: justify;
    margin: 75px auto 0 auto; 
}
.adress-page2 {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#numero-page2, #rue-page2, #code-page2, #ville-page2 {
    width: 40%;
}

.nb-page2 {
    width: 20%;
}
.nbmidi-page2 {
    width: 15%;
}
#entree-page2, #plat-page2, #dessert-page2, #boisson-page2 {
    width: 50%;
}
.adress-page2, .menu-page2, .livraison-page2 {
    margin-top: 40px;
}
.choix-page2 {
    margin-top: 25px;
}
.button-page2 {
    margin: 50px;
}   
.p2 input, select {
    margin: 0;
}
#entree-page2, #plat-page2, #dessert-page2, #boisson-page2, #livraison-page2 {
    height: 30px;
}
.js{
    cursor: pointer;
}



/* Fin de la section d'Adrien - Page 2 */

/* form php */

#php{
    height: 200px;
    width: 70%;
    background-color: #F4F4F4;
    color: black;
    margin: 300px auto;
    display: flex;
}

#php_title{
    margin: auto;
}
/* fin form php */

/* debut menu burger */

/* Hide the link that should open and close the navbar on small screens */
.navbar .icon {
  display: none;
} 




@media (max-width: 1050px){
    /*Section Paul / Articles - Card*/
    .card{
        height: 300px;
    }
    .card-title{
        transform: translateY(-190px);
        font-size:2.5rem;
    }
    .card-visibility{
        transform: translateY(-370px);
        font-size: 1.4rem;
    }
    .prix-menu-midi{
        font-size:1.5rem;
    }
    .opacity{
        transform: translateY(-667px);
    }
}

@media (max-width: 961px){
    
    /* Section article card -- Paul */
    .banniere{
        display: none;
    }
    .container-logo{
        display: none;
    }

    #all-card{
        margin: 0 auto;
    }
    .main-card{
        flex-direction: column;
    }
    #all-card article{
        margin:0 auto;
    }

    .card{
        height: 210px;
    }
    .card-title{
        transform: translateY(-130px);
        font-size: 1rem;
    }
    .card-visibility{
        transform: translateY(-240px);
        font-size: 1rem;
    }
    .prix-menu-midi{
        font-size:1.5rem;
    }
    .opacity{
        transform: translateY(-451px);
    }

    
    /* END -- Section article card -- Paul*/
    
    /* Formulaire */

    form{
        width: 75%;
    }

    span{
        display: none;
    }

    .form1{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
    }

    .form_item{
        display: flex;
        flex-direction: column;
    }

    #booking_button{
        width: 100px;
    }

    h2{
        font-size: 1.2rem;
    }

    /* Livraison */

    #link_livraison img{
        height: 200px;
        justify-self: center;
    }

    #link{
        text-align: center;
    }

    /* Footer */
    footer{
        flex-direction: column;
        height: auto;
    }

    .footer_div, .div_img_footer{
        margin-bottom: 2rem;
    }

}
/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the navbar (.icon) */
@media screen and (max-width: 600px) {
    .navbar a:not(:first-child) {display: none;}
    .navbar a.icon {
      float: right;
      display: block
    }
    .navbar{
      display:inline-block;
    }
    #all-card{
        margin-top:25px;
    }
    .navbar a:not(:first-child){
        padding-right:10px;
    }
  }
  
  /* The "responsive" class is added to the navbar with JavaScript when the user clicks on the icon. This class makes the navbar look good on small screens (display the links vertically instead of horizontally) */
  @media screen and (max-width: 600px) {
    .navbar.responsive {position: relative;}
    .navbar.responsive a.icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .navbar.responsive a {
      float: none;
      display: block;
      text-align: right;
    }
  } 
  /* end test burger*/ 

@media screen and (min-width:961px) {
    .adress-page2 {
        display: block;
        align-items: center;
    }
    #numero-page2  {
        width: 10%;
    }
    #rue-page2 {
        width: 24%;
    }
    #code-page2 {
        width: 14%;
    } 
    #ville-page2 {
        width: 20%;
    }
    .nb-page2 {
        width: 8%;
    }
    .nbmidi-page2 {
        width: 10%;
    }
    #entree-page2, #plat-page2, #dessert-page2, #boisson-page2 {
        width: 30%;
    }
    .page-2 {
        background: url(Images/img-page2.jpg) no-repeat;
        background-attachment: fixed;
        background-size: cover;
        height: 100vh;
    }
    .p2 {
        background : url(Images/order.jpg);
        background-repeat: no-repeat;
        background-size: 250%;
        color: white;
        box-shadow: black 5px 2px 10px;
        border-radius: 10px;
    }
    .section-p2 { 
        background-color: transparent;
        width: 80%;
        margin: auto;
    }
}





